<p>Profile</p>

<div class="profile-section">
    <div class="profile-card">
        <h5>Profile Details</h5>
        <div class="profile-header">
          <div class="profile-pic-container">
            <img
              class="profile-pic"
              [src]="getProfilePictureUrl()"
              alt="Profile Picture"
            />
            <!-- <input
              *ngIf="isEditing"
              type="text"
              [(ngModel)]="userDetails.profilePicture"
              placeholder="Profile Picture URL"
              class="form-control"
            /> -->
          </div>
          <div class="profile-info">
            <h2 class="profile-name">
              <span *ngIf="!isEditing">{{ userDetails.name }}</span>
              <input
                *ngIf="isEditing"
                type="text"
                [(ngModel)]="userDetails.name"
                class="form-control"
                placeholder="Enter Name"
              />
            </h2>
            <p class="profile-email">
              <span *ngIf="!isEditing">{{ userDetails.emailID }}</span>
              <input
                *ngIf="isEditing"
                type="email"
                [(ngModel)]="userDetails.emailID"
                class="form-control"
                placeholder="Enter Email"
              />
            </p>
            <p class="profile-tel">
              <span *ngIf="!isEditing">{{ userDetails.phoneNumber }}</span>
              <input
                *ngIf="isEditing"
                type="tel"
                [(ngModel)]="userDetails.phoneNumber"
                class="form-control"
                placeholder="Enter Phone Number"
              />
            </p>
          </div>
        </div>
        <div class="profile-socials">
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-github"></i> Github</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
              </ul>
        </div>
        <div class="profile-actions">
          <button
            *ngIf="!isEditing"
            class="btn-edit"
            (click)="toggleEdit(true)"
          >
            Edit Profile
          </button>
          <button
          *ngIf="!isEditing"
          class="btn-logout"
          (click)="logout()"
          >
          Logout
          </button>
          <button
            *ngIf="isEditing"
            class="btn-save"
            (click)="saveChanges()"
          >
            Save Changes
          </button>
          <button
            *ngIf="isEditing"
            class="btn-cancel"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
        </div>
      </div>
      

    <div class="none">

    </div> 
  </div>
  
