p {
    padding: 0 5px;
    font-weight: 800;
}

/* Container for the profile section */
.profile-section {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    margin-bottom: 30px;
  }
  
  /* Profile card style */
  .profile-card {
    width: 225px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #222b45;
    border: .0625rem solid #101426;
    box-shadow: 0 .5rem 1rem #1a1f33;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  h5 {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
  }
  
  /* Header section */
  .profile-header {
    padding: 20px 10px;
    padding-bottom: 0;
    border-bottom: 1px solid #101426;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #101426;
  }
  
  .profile-info {
    margin: 0px;
  }
  
  .profile-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
  }
  
  .profile-email,
  .profile-tel {
    font-size: 0.875rem;
    color: #666;
  }

  .profile-socials {
    border-bottom: 1px solid #101426;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-left: 20px;
  }
  
  .social-media li a {
    color: #ecf0f1;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    gap: 15px;
  }
  
  .social-media li a:hover {
    color: #3272f3;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 170px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #101426;
    border-radius: .25rem;
    background-color: #161a2f;
    color: #fff;
    border-radius: 4px;
  }

  select#departmentId {
    width: 192px;
}
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Action buttons */
  .profile-actions {
    padding: 1rem;
    gap:10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .btn-edit,
  .btn-logout,
  .btn-cancel,
  .btn-save,
  .btn-primary {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 700;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button.btn.btn-primary {
    width: 100%;
  }

  .btn-logout, .btn-cancel {
    background-color: #ff3d7114;
    border-color: #ff3d71;
    color: #ff3d71;
  }

  .btn-edit, .btn-save, .btn-primary {
    background-color: #4267b21f;
    color: #3272f3;
    border-color: #3272f3;
  }
  
  .btn-logout:hover,
  .btn-cancel:hover {
    background-color: #ff3d714f;
  }

  .btn-edit:hover,
  .btn-save:hover {
    background-color: #4267b28a;
  }
  
  /* Button disabled style */
  .btn-edit[disabled],
  .btn-logout[disabled],
  .btn-primary[disabled] {
    background-color: #8f9bb329;
    border-color: #8f9bb33d;
    color: #8f9bb37a;
    cursor: not-allowed;
  }

  .none {
    width: 75.5%;
    padding: 10px;
    margin-left: 30px;
    min-height: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #222b45;
    border: .0625rem solid #101426;
    box-shadow: 0 .5rem 1rem #1a1f33;
    color: white;
    overflow: hidden;
    text-align: center;
  }

  .new-user {
    display: flex;
  }
  
  
  @media (max-width: 720px) {
    .profile-section {
        flex-direction: column;
    }
    .profile-card {
        width: 100%;
        margin-bottom: 10px;
    }
    .none {
        margin: 0;
        width: 94%;
    }
  }