<app-news-categories (selectedTagEvent)="onTagSelected($event)"></app-news-categories>
<app-categorised-news [tagName]="selectedTag" (newsClicked)="viewNewsDetails($event)"></app-categorised-news>
<div #newsContainer class="news-container">

<!-- Top News Slider -->
<div *ngIf="showTopNews">
<h2>Top News</h2>
<div class="top-news-section">

    <div class="slider-container">
        <!-- Slider -->
        <div class="slider">
            <div
                *ngFor="let news of topNews; let i = index"
                class="slide"
                [class.active]="i === currentSlideIndex"
                (click)="viewNewsDetails(news)"
                >
                <img [src]="getImageUrl(news.bigImage)" [alt]="news.title" />
                <div class="slide-content">
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.shortDesc }}</p>
                </div>
            </div>
        </div>

        <!-- Slide Indicators -->
        <div class="indicators">
            <span
                *ngFor="let news of topNews; let i = index"
                class="indicator"
                [class.active]="i === currentSlideIndex"
                (click)="goToSlide(i)"
                >
            </span>
        </div>
    </div>

    <!-- Right Side News (3 news items) -->
    <div class="right-side-news">
        <div *ngFor="let news of rightSideNews" class="right-news-item" (click)="viewNewsDetails(news)">
            <img [src]="getImageUrl(news.bigImage)" alt="{{ news.title }}" />
            <div class="news-details">
                <h5>{{ news.title }}</h5>
            </div>
        </div>
    </div>   
</div>
</div>

<app-detailed-news *ngIf="!showTopNews" [news]="selectedNews" (backToTop)="backToTopNews()"></app-detailed-news>

<app-infinite-news  (newsClicked)="viewNewsDetails($event)"></app-infinite-news>
</div>
