.home-container {
    color: #fff;
    max-width: 1045px;
    margin: 50px auto;
    animation: fadeIn 1s ease-in-out;
  }
  
  .welcome-section {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .welcome-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .welcome-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .welcome-section .btn-primary {
    background-color: #3366ff14;
    border-color: #36f;
    color: #36f;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
  }

  .welcome-section .btn-primary:hover {
    background-color: #3366ff28;
  }
  
  .features-section {
    margin-bottom: 40px;
  }
  
  .features-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .feature {
    background-color: #222b45;
    color: #cecece;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .feature h3 {
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1em;
  }
  
  .cta-section {
    text-align: center;
    margin-top: 40px;
  }
  
  .cta-section h2 {
    margin-bottom: 20px;
  }

  a {
    color: #598bff;
    text-decoration: none;
  }
  
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .cta-buttons .btn-primary,
  .cta-buttons .btn-secondary {
    background-color: #3366ff14;
    border-color: #36f;
    color: #36f;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
  }
  
  .cta-buttons .btn-primary:hover {
    background-color: #3366ff28;
  }
    
  .cta-buttons .btn-secondary:hover {
    background-color: #3366ff28;
  }

  

  .signup-newsletter {
    background-color: #222b45;
    padding: 45px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: auto;
    border: .0625rem solid #101426;
    box-shadow: 0 .5rem 1rem #1a1f33;
    animation: fadeIn 1s ease-in-out;
  }

  .signup-newsletter-title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
  }

  .signup-newsletter-pera {
    font-size: 15px;
    color: #b7b7b7cb;
  }

  .signup-newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 4px;
    padding: 2px 8px;
    width: 400px;
    height: 45px;
    
  }
  
  .form-form {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background-color: #161a2f;
    padding: 5px;
    border-radius: 4px;
  }

  .email-input {
    background-color: #161a2f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    width: 80%;  
    color: #fff;
  }
  
  .subscribe-btn {
    background-color: #3366ff14;
    border-color: #36f;
    color: #36f;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-btn:hover {
    background-color: #3366ff28;
  }
  
  .subscribe-form:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }

  .signup-newsletter-form-text{
    font-size: 14px;
    color: #b7b7b7cb;
  }

  @media (max-width: 720px) {
    .signup-newsletter {
      flex-direction: column;
      padding: 10px;
      gap:10px;
    }

    .signup-newsletter-form {
      width: 340px;
      height: 90px;
    }

    .signup-newsletter-form-text {
      font-size: 14px;
    }

  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }