<div class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
    <ul>
      <li [ngClass]="{'active': activeMenu === 'dashboard'}" (click)="setActiveMenu('dashboard')">
        <span class="material-icons">dashboard</span>
        <span class="menu-text">Dashboard</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'components'}" (click)="setActiveMenu('components')">
        <span class="material-icons">widgets</span>
        <span class="menu-text">Components</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'charts'}" (click)="setActiveMenu('charts')">
        <span class="material-icons">show_chart</span>
        <span class="menu-text">Charts</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'news'}" (click)="setActiveMenu('news')">
        <span class="material-icons">star</span>
        <span class="menu-text">News</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'tables'}" (click)="setActiveMenu('tables')">
        <span class="material-icons">table_chart</span>
        <span class="menu-text">Tables</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'maps'}" (click)="setActiveMenu('maps')">
        <span class="material-icons">map</span>
        <span class="menu-text">Maps</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'pages'}" (click)="setActiveMenu('pages')">
        <span class="material-icons">description</span>
        <span class="menu-text">Pages</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'menuLevel1'}" (click)="setActiveMenu('menuLevel1')">
        <span class="material-icons">folder</span>
        <span class="menu-text">Menu Level 1</span>
      </li>
    </ul>
  </div>
