<div class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
    <ul>
      <li [ngClass]="{'active': activeMenu === 'dashboard'}" (click)="setActiveMenu('dashboard')">
        <span class="material-icons">dashboard</span>
        <span class="menu-text">Dashboard</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'profile'}" (click)="setActiveMenu('profile')">
        <span class="material-icons">person</span>
        <span class="menu-text">Profile</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'news'}" (click)="setActiveMenu('news')">
        <span class="material-icons">auto_stories</span>
        <span class="menu-text">News</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'tables'}" (click)="setActiveMenu('tables')">
        <span class="material-icons">table_chart</span>
        <span class="menu-text">Tables</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'maps'}" (click)="setActiveMenu('maps')">
        <span class="material-icons">pin_drop</span>
        <span class="menu-text">Maps</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'pages'}" (click)="setActiveMenu('pages')">
        <span class="material-icons">description</span>
        <span class="menu-text">Pages</span>
      </li>
      <li [ngClass]="{'active': activeMenu === 'logout'}" (click)="setActiveMenu('logout')">
        <span class="material-icons">logout</span>
        <span class="menu-text">Logout</span>
      </li>
    </ul>
  </div>
