<div class="contact-form">
  <h2>Inquiry Form</h2>

  <form #inquiryForm="ngForm" (ngSubmit)="onSubmit(inquiryForm)">
    <div class="row">
      <div class="col-md-6 form-group">
        <input
          type="text"
          id="firstName"
          name="firstName"
          ngModel
          required
          class="form-control"
          placeholder="First Name"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="text"
          id="lastName"
          name="lastName"
          ngModel
          required
          class="form-control"
          placeholder="Last Name"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          email
          class="form-control"
          placeholder="Email"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="tel"
          id="phone"
          name="phone"
          ngModel
          required
          class="form-control"
          placeholder="Phone Number"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="text"
          id="company"
          name="company"
          ngModel
          required
          class="form-control"
          placeholder="Company"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="text"
          id="country"
          name="country"
          ngModel
          required
          class="form-control"
          placeholder="Country"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="text"
          id="state"
          name="state"
          ngModel
          required
          class="form-control"
          placeholder="State"
        />
      </div>

      <div class="col-md-6 form-group">
        <input
          type="text"
          id="city"
          name="city"
          ngModel
          required
          class="form-control"
          placeholder="City"
        />
      </div>

      <div class="col-md-6 form-group">
        <select
          id="gender"
          name="gender"
          ngModel
          required
          class="form-control"
        >
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="col-12 form-group">
        <textarea
          id="message"
          name="message"
          ngModel
          required
          rows="5"
          class="form-control"
          placeholder="Your Message"
        ></textarea>
      </div>

      <div class="col-12 form-group">
        <button
          type="submit"
          [disabled]="inquiryForm.invalid"
          class="btn btn-primary"
        >
          Submit Inquiry
        </button>
      </div>
    </div>
  </form>
</div>

  
