.contact-info {
  margin: 45px auto;
  max-width: 1000px;
  background-color: #222b45;
  border: .0625rem solid #101426;
  box-shadow: 0 .5rem 1rem #1a1f33;
  padding: 20px;
  border-radius: .25rem;
  color:#fff;
  text-align: center;
}

.contact-info p {
  margin: 15px 0px;
}

.contact-form {
    max-width: 1000px;
    margin: 45px auto;
    padding: 20px;
    background-color: #222b45;
    border: .0625rem solid #101426;
    box-shadow: 0 .5rem 1rem #1a1f33;
    border-radius: .25rem;
    color:#fff;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
  }
  
  .contact-form h2 {
    text-align: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #151a30;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .form-group {
    margin:0 15px 15px 0;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    border: 1px solid #101426;
    border-radius: .25rem;
    padding: .6375rem 0rem;
    background-color: #161a2f;
    color: #fff;
    width: 100%;
    padding-left: 10px;
    transition: 0.3s ease-in;
  }

  .form-control:hover {
    background-color: #121525;
  }

  .form-control:focus {
    outline:none;
    border: 1px solid #007bff;
  }
  
  select#gender {
    width: 101.2%;
  }

  select#country {
    width: 102.2%;
  }

  select#state {
    width: 102.2%;
  }

  .btn {
    background-color: #3366ff14;
    border-color: #36f;
    color: #36f;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    width: 101.2%;
    transition: background-color 0.3s ease;
  }
  
  .btn:disabled {
    background-color: #354164;
    cursor: not-allowed;
  }
  
  .btn:hover:not(:disabled) {
    cursor: pointer;
    background-color: #3366ff28;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .col-md-6 {
    flex: 1 1 45%;
  }
  
  .col-12 {
    flex: 1 1 100%;
  }