<nav class="navbar">
    <!-- Logo -->
    <div class="navbar-logo">
      <img src="https://static.fibre2fashion.com/f2flogo/f2flogo-white.svg" alt="Logo">
      <span></span>
    </div>
  
    <!-- Hamburger Menu -->
    <div class="navbar-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  
    <!-- Navigation Links -->
    <ul class="navbar-links" [class.active]="menuOpen">
      <li><a href="home">Home</a></li>
      <li><a href="news">News</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="#">About</a></li>
          <!-- Login Button -->
    <div class="navbar-login">
      <a href="login">Login</a>
    </div>
    </ul>
  

  </nav>
  

