<div class="news-list" *ngIf="newsList.length > 0">
    <h2>News for: {{ tagName }}</h2>
    <div class="news-items">
    <div *ngFor="let news of newsList" class="news-item" (click)="viewNewsDetails(news)">
      <img                 
      [lazyLoad]="getImageUrl(news.bigImage)" 
      [defaultImage]="'/assets/images/placeholder.jpg'"  
      [errorImage]="'/assets/images/error.jpg'" [alt]="news.title" />
      <div class="news-content">
      <h3>{{ news.title }}</h3>
      <!-- <p>{{ news.shortDesc }}</p> -->
    </div>
    </div>
  </div>
  </div>

  
  
