.mat-mdc-dialog-surface {
    min-width: 600px !important;
}

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151a30;
    padding: 0;
  }

  .mat-mdc-dialog-title::before {
    display: none !important;
  }
  
  h2#mat-mdc-dialog-title-0 {
    color: #36f !important;
  }
  
  .dialog-header button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
  }
  
  /* Dialog description */
  .dialog-description {
    margin-bottom: 40px;
    font-size: 14px;
    color: #b4b4b4;
  }
  
  /* Form field styling */
  mat-form-field.full-width {
    width: 100%;
    flex:1;
  }

  mat-form-field {
    width: 100%;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .half-width {
    flex: 1;
  }

  /* Dialog actions */
  .mat-dialog-actions {
    padding-top: 8px;
    border-top: 1px solid #e0e0e0;
  }
  
  .mat-dialog-actions button {
    margin-left: 8px;
  }

  .error-message {
    color: red;
  }

    /* Styling for each form group */
    .form-group {
      margin-bottom: 25px;
    }

    .profile-pic-container {
      position: relative;
      display: inline-block;
      height: 120px;
      margin-bottom: 20px;
    }
    
    .profile-pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #101426;
      transition: filter 0.3s ease;
      display: flex;
    }
  
    .profile-pic.blurred {
      cursor: pointer;
    }
  
    .btn-add-pic {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.250);
      color: white;
      border: none;
      padding: 5px 10px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 12px;
      transition: 0.1s ease-in-out;
    }
  
    .btn-add-pic:hover {
      background-color: rgba(0, 0, 0, 0.500);
    }
  
    i.fa.fa-camera {
      font-size: 26px;
      color: #fff;
    }

    .mat-mdc-tooltip-surface {
      background-color: #101426 !important;
    }
    
    .form-control {
      font-family: Open Sans,sans-serif;
      font-size: .9375rem;
      border: 1px solid #101426;
      border-radius: .25rem;
      padding: .6375rem 0rem;
      background-color: #161a2f99;
      color: #fff;
      width: 100%;
      padding: 10px;
      transition: 0.1s ease-in;
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      width: 96.5%;
    }
  
    .form-control:hover {
      background-color: #121525;
    }
  
    input#name,
    input#username,
    input#email,
    input#phoneNumber,
    input#password {
      width: 94%;
    }
  
    select#departmentId {
      width: 99.2%;
    }
    
    /* Focus state */
    input:focus, select:focus, textarea:focus {
      border-color: #007bff;
      outline: none;
    }
    
  
    /* Error messages */
    .invalid-feedback {
      color: #e74c3c;
      font-size: 11px;
      margin-top: 3px;
      text-align: left;
      margin-left: 10px;
    }
    
    /* Submit button styling */
     button {
      width: 100%;
      padding: .6875rem 1.125rem;
      font-size: .875rem;
      line-height: 1rem;
      font-weight: 700;
      border-style: solid;
      border-width: .0625rem;
      text-transform: uppercase;
      background-color: #3366ff29;
      border-color: #36f;
      color: #36f;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    } 
    
    .new-user-btn-disabled {
      background-color: #8f9bb329;
      border-color: #8f9bb33d;
      color: #8f9bb37a;
      cursor: not-allowed;
    }
      
    input[type="file"]:hover {
      border-color: #007bff;
    }
    
  
    input[type="file"]::file-selector-button:hover {
      background-color: #0056b3;
    }
    
    /* Modern file input styling with hidden button */
    input[type="file"] {
      opacity: 0;
      position: absolute;
      z-index: -1;
      left: 0;
    }
    
    label[for="profilePic"] {
      padding: .6875rem 1.125rem;
      background-color: #0057b37e;
      border-color: #36f;
      border-width: .0625rem;
      color: #fff;
      font-size: .875rem;
      line-height: 1rem;
      font-weight: 700;
      border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
      display: block;
      text-align: center;
    }
    
    label[for="profilePic"]:hover {
      background-color: #0056b3;
    }
    
    input[type="file"]:valid + label {
      background-color: #00d68f14;
      border-color: #00d68f;
      border-radius: .25rem;
      border-style: solid;
      color: #00d68f;
      border-width: .0625rem;
    }
    
    input[type="file"]:valid + label:hover {
      background-color: #00d68f49;
      border-color: #00d68f;
      border-radius: .25rem;
      border-style: solid;
      color: #00d68f;
      border-width: .0625rem;
    }
  
    /* additional content */
    .content-info {
      padding: 30px;
    }
    
    .content-info h3 {
      font-size: 24px;
      margin-bottom: 15px;
      color: #fff;
    }
    
    .content-info p {
      font-size: 16px;
      margin-bottom: 10px;
      color: #888888;
    }
    
    .content-info ul {
      list-style: none;
      padding-left: 0;
    }
    
    .content-info ul li {
      font-size: 16px;
      color: #888888;
      margin-bottom: 8px;
    }
    
    .content-info h4 {
      font-size: 20px;
      margin-top: 30px;
      color: #d3d3d3;
    }
    
    .content-info a {
      color: #007bff;
      text-decoration: none;
    }
    
    .content-info a:hover {
      text-decoration: underline;
    }
    
    /* Image Styling */
    .content-info img {
      max-width: 100%;
      margin-top: 20px;
      border-radius: 8px;
    }
    
  
    @media (max-width: 720px) {
      .registration-form {
          flex-direction: column;
      }
  
      .new-user {
          width: 100%;
          padding: 10px 0px;
      }

      select#departmentId {
        width: 100%;
      }

      input#name[_ngcontent-ng-c18187278], input#username[_ngcontent-ng-c18187278], input#email[_ngcontent-ng-c18187278], input#phoneNumber[_ngcontent-ng-c18187278], input#password[_ngcontent-ng-c18187278] {
        width: 92.1%;
      }

      .form-row {
        width: 95%;
      }

      input#phoneNumber[_ngcontent-ng-c3791431318] {
        width: 92%;
      }

    }
  
  @media (max-width: 600px) {
    .mat-dialog-container {
      width: 90%;
      margin: 0 auto;
    }
  
    .dialog-header h2 {
      font-size: 18px;
    }
  
    .mat-dialog-content {
      font-size: 14px;
    }
  }