<div class="dialog-header">
    <h2 mat-dialog-title style="color: #36f;">Sign Up</h2>
    <button mat-icon-button mat-dialog-close aria-label="Close dialog" style="width: 40px; padding: 0;">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <form #userForm="ngForm" >

        <div class="profile-pic-container">
            <!-- Display the selected profile picture or a default placeholder -->
            <img
              *ngIf="!selectedFilePreview"
              src="/assets/images/profile-placeholder.jpg"
              class="profile-pic"
              id="profilePicture"
              alt="Profile Picture"
              (click)="fileInput.click()"  
            />
            
            <!-- Display the selected file -->
            <img
              *ngIf="selectedFilePreview"
              class="profile-pic"
              [src]="selectedFilePreview"
              alt="Selected Profile Picture"
            />
            
            <!-- Add SVG button displayed only during editing -->
            <button
                class="btn-add-pic"
                (click)="fileInput.click(); $event.stopPropagation()" 
                matTooltip="Click to upload your profile picture"
                matTooltipPosition="right">
                <i class="fa fa-camera"></i>
            </button>
            
            <input
                #fileInput
                type="file"
                id="profilePic"
                name="profilePic"
                ngModel
                (change)="onProfilePictureChange($event)"
                (click)="$event.stopPropagation()"
                style="display: none;"
                required
            />
          </div>


        <!-- Department Dropdown -->
        <div class="form-group">
          <select id="departmentId" name="departmentId" ngModel required class="form-control" [(ngModel)]="selectedDepartment">
            <option value="" disabled>Select Department</option>
            <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
          </select>
        </div>

    <div class="form-row">    
        <!-- Name Input -->
        <div class="form-group">
          <input type="text" id="name" name="name" ngModel required class="form-control" placeholder="Name" />
        </div>
    
        <!-- Username Input -->
        <div class="form-group">
          <input type="text" id="username" name="username" ngModel required class="form-control" placeholder="Username" />
        </div>
    </div>

    <div class="form-row">
        <!-- Email Input -->
        <div class="form-group">
          <input type="email" id="email" name="email" ngModel required email class="form-control" placeholder="Email" />
        </div>
    
        <!-- Password Input -->
        <div class="form-group">
          <input type="password" id="password" name="password" ngModel required minlength="4"  class="form-control" placeholder="Password" />   
        </div>
    </div>

        <!-- Phone Number Input -->
        <div class="form-group">
          <input type="text" id="phoneNumber" name="phoneNumber" ngModel required pattern="[0-9]{10}" class="form-control" placeholder="Phone Number" />
        </div>
    
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" (click)="onSubmit(userForm)" [ngClass]="{'new-user-btn-disabled': userForm.invalid}">Submit</button>
      </form>
</mat-dialog-content>
