<nav class="navbar">
    <!-- Logo -->
    <div class="navbar-logo">
      <img src="https://static.fibre2fashion.com/f2flogo/f2flogo-white.svg" alt="Logo">
      <span></span>
      <!-- Language Dropdown -->
      <select (change)="switchLanguage($event)" [value]="currentLanguage">
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
    </div>

    <!-- Hamburger Menu -->
    <div class="navbar-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  
    <!-- Navigation Links -->
    <ul class="navbar-links" [class.active]="menuOpen">
      <li [class.active]="isActive('home')"><a href="home">{{ 'HOME' | translate }}</a></li>
      <li [class.active]="isActive('news')"><a href="news">{{ 'NEWS' | translate }}</a></li>
      <li [class.active]="isActive('contact')"><a href="contact">{{ 'CONTACT' | translate }}</a></li>
      <li [class.active]="isActive('about')"><a href="about">{{ 'ABOUT' | translate }}</a></li>

      <!-- Conditionally show Profile or Login based on user login status -->
      <div class="navbar-login" *ngIf="isLoggedIn;">
          <div class="profile-dropdown">
            <img *ngIf="userDetails?.profilePicture" [src]="getProfilePictureUrl()" alt="Profile" class="profile-img">
            <div class="dropdown-content">
              <!-- <li class="dropdown-btn">{{ userDetails?.name }}</li>  -->
              <a href="profile">Profile</a>
              <a href="profile">Settings</a>
              <a (click)="logout()">Logout</a>
            </div>
          </div>      
        </div>
        <div class="navbar-login" *ngIf="!isLoggedIn">
          <a href="login" [class.active]="isActive('login')">{{ 'LOGIN' | translate }}</a>
        </div>
    </ul>
  

  </nav>
  

