  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 20px;
    background-color: #222b45;
    box-shadow: 0 .5rem 1rem #1a1f33;
    z-index: 999;
    position: sticky;
    top: 0;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 130px;
    height: 30px; 
    margin-right: 10px; 
  }

  .navbar select {
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    border: 1px solid #101426;
    border-radius: .25rem;
    color: #fff;
    padding: 4px;
    background-color: #161a2f;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
  }

  .navbar select:focus {
    outline: none; 
  }

  .navbar select option {
    background-color: #161a2f;
    color: #fff; 
  }

  .navbar select option:hover {
    background-color: #101426;
  }
  
  .navbar-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
  }
  
  .navbar-links li {
    display: inline-block;
    border-right: 1px solid #151a30;  
    z-index: 999;

  }
  
  .navbar-links a {
    font-size: .8125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .navbar-login {
    margin-left: auto; 
  }
  
  .navbar-login a {
    font-size: .8125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }

  .navbar-links li.active a {
    color: #36f; 
  }
  
  .navbar-login a.active {
    color: #36f;
  }

  .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .profile-dropdown {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: .8125rem;
    font-weight: 600;
    color: #36f;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #222b45;
    border-radius: .25rem;
    min-width: 130px;
    z-index: 1;
    top: 35px;
    right: 0;
  }

  .profile-dropdown:hover .dropdown-content {
    display: block;
  }

  span.material-icons {
    font-size: 14px;
    margin-right: 10px;
  }

  .dropdown-content a {
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #151a30; 
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .dropdown-content a:first-child {
    padding-top: 25px;
  }

  .dropdown-content a:hover {
    color: #36f;
  }

  .dropdown-content a:last-child:hover {
    color: red;
  }
    
  /* Responsive: Hamburger Menu */
  @media (max-width: 768px) {
    .navbar-links {
      position: fixed;
      top: -100%;
      left: 1px;
      width: 100%;
      height: 25%;
      padding: 0;
      gap:10px;
      background-color: #161a2f;
      flex-direction: column;
      align-items: center;
      transform: translateX(-100%); 
      transition: top 0.3s ease-in-out;
      z-index: 999;
    }
  
    .navbar-links.active {
      transform: translateX(0); 
      top:45px;
    }
  
    .navbar-toggle {
      display: flex; 
    }
  
    .navbar-login {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
    }
  }
  