.admin-layout {
    display: flex;
    height: 100%;
}

.admin-content {
    color:#fff;
    padding: 0 35px;
    width: 100%;
}

@media (max-width:720px) {
    .admin-content {
        padding: 4px;
    }
}