.new-users {
    padding: 15px;
    background-color: #222b45;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: .0625rem solid #101426;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out;
}

.new-users h2 {
    margin-top: 0;
    font-size: .9375rem;
    font-weight: 600;
}

.users-list{
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.user-list{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all 0.3s ease;
    width: 90%;
}

.user-list:hover{
    box-shadow: none;
}

.user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container {
    position: relative;
    display: inline-block;
}

h5 {
    align-items: center;
}

h5 .material-icons {
    font-size: 16px;
    margin-left: 5px;
    color: #36f;
}

.user-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.material-icons {
    font-size: 15px;
}

.active-user {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4caf50;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}

.admin-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #36f;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}

.user-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}

.user-list .user h5 {
    display: flex;
    margin: 0;
    justify-content: center;
}

.user-list .user p {
    font-size: 10px;
    margin-bottom: 0;
    color: #b1b1b19d;
    display: flex;
    justify-content: center;
}

.user-list .user a {
    text-decoration: none; 
    color: inherit; 
}
  
.user-list .user a:hover {
    text-decoration: none; 
}

.pagination-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

i.fa.fa-arrow-right {
    display: inline-block;
    width: 0;
    height: 0;
    color: #fff;
}

i.fa.fa-arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    color: #fff;
}

.pagination-btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-btn:not([disabled]):hover {
    transform: scale(1.1);
}

@media (max-width:768px) {
    .user-list {
        justify-content: space-evenly;
    }
    
}
  
  