<p>Dashboard</p>

<div class="dashboard-stats">
    <div class="total-inquiries">
        <h3>Total Inquiries: <span>{{ totalItems }}</span></h3>
        <span class="material-icons">help_center</span>
    </div>
    <div class="total-news">
        <h3>Total News: <span>{{ totalNewsCount }}</span></h3>
        <span class="material-icons">newspaper</span>
    </div>
</div>

<!-- New Users Section -->
<div class="new-users">
  <h2>New Users</h2>
  <div class="user-list">
    <!-- Loop through users array and display each user -->
    <div class="user" *ngFor="let user of users">
      <img [src]="getProfilePictureUrl(user)" alt="User Profile">
      <h5>{{ user.name }}</h5>
      <p>{{ getTimeAgo(user.createdDate) }}</p>
    </div>
    <div class="user" *ngIf="users.length < 6">
      <a href="admin/profile" class="more-link">
      <img src="assets/plus.png" alt="More">
      <h5>More</h5>
      <p>New User</p>
      </a>
    </div>
  </div>
</div>


  

<header>Inquiry Table</header>
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Country</th>
              <th>Status</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let inquiry of inquiries">
            <td>{{ inquiry.id }}</td>
            <td>{{ inquiry.firstName }}</td>
            <td>{{ inquiry.lastName }}</td>
            <td>{{ inquiry.gender }}</td>
            <td>{{ inquiry.country }}</td>
            <td>{{ inquiry.status }}</td>
          </tr>
      </tbody>
    </table>
  
    <!-- Pagination Controls -->
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
      </div> 
  </div>
  