p {
    padding: 0 5px;
    font-weight: 800;
}

.dashboard-stats {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
  
.total-inquiries, .total-news {
    flex: 1;
    text-align: center;
    padding: 15px;
    background-color: #222b45;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: .0625rem solid #101426;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

span {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    color: #36f;
    margin-top: 5px;
}

.material-icons {
    font-size: 100px;
    color: #8f9bb3;
}

.new-users {
    padding: 15px;
    background-color: #222b45;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: .0625rem solid #101426;
    margin-bottom: 30px;
}

.new-users h2 {
    margin-top: 0;
    font-size: .9375rem;
    font-weight: 600;
}

.user-list{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    transition: all 0.3s ease;
}

.user-list:hover{
    box-shadow: none;
}

.user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-list .user h5 {
    display: flex;
    margin: 0;
    justify-content: center;
}

.user-list .user p {
    font-size: 10px;
    margin-bottom: 0;
    color: #b1b1b19d;
    display: flex;
    justify-content: center;

}

.user-list .user a {
    text-decoration: none; 
    color: inherit; 
  }
  
  .user-list .user a:hover {
    text-decoration: none; 
  }
  
  
.table-container {
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 0;
    max-width: 100%;
    border-radius: 0 0 4px 4px;
    border: .0625rem solid #101426;
    background-color: #222b45;
    box-shadow: 0 .5rem 1rem #1a1f33;
}

header {
    padding: 1rem;
    max-width: 100%;
    border: .0625rem solid #101426;
    border-bottom: 0;
    color: #fff;
    background-color: #222b45;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    border-radius: 4px 4px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    line-height: 1em;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    font-size: 14px;
}

th {
    color: #36f;
}

tr:nth-child(even) {
    background-color: #222b45; 
}

tbody:nth-of-type(odd) {
    background-color:#10142669;
}

th, td {
    padding: 12px;
    text-align: left;
    border: .0625rem solid #101426;
}

tr:hover {
    background-color:#101426;
}

th {
    background-color: #222b45;
    cursor: pointer;
    line-height: 1.5em;
}

th:hover {
    background-color: #161a2f;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 5px 5px;
    cursor: pointer;
    background-color: #3366ff14;
    border-color: #36f;
    color: #36f;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .745rem;
    line-height: 1rem;
    font-weight: 700;
}

.pagination button:hover {
    background-color: #3366ff28;
}

.pagination button[disabled] {
    cursor: not-allowed;
    background-color: #8f9bb329;
    border-color: #8f9bb33d;
    color: #8f9bb37a;
}

.pagination span {
    font-size: 12px;
    font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    p {
        padding: 0;
    }

    .dashboard-stats {
        gap: 5px;
    }

    .material-icons {
        display: none;
    }

    .table-container {
        padding: 5px;
    }

    header {
        font-size: 1rem;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    .pagination {
        flex-direction: row;
        align-items: flex-start;
    }

    .pagination button {
        padding: 5px 15px;
        font-size: 0.8rem;
    }

    .pagination span {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 6px;
    }

    .pagination button {
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .pagination span {
        font-size: 10px;
    }

    .table-container {
        padding: 5px;
    }
}
