.mat-mdc-form-field {
    min-width: 100% !important;
}

.mat-mdc-dialog-title::before {
    display: none !important;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151a30;
    padding: 0;
  }