
.sidebar {
    width: 150px; 
    background-color: #222b45;
    box-shadow: 0 .5rem 1rem #1a1f33;
    color: white; 
    height: 800px;
    padding: 5px 0; 
    transition: width 0.3s;
    font-family: Open Sans, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    position: sticky; 
    top: 45px; 
    z-index: 998; 
  }
  
  .hidden {
    width: 35px; 
    overflow: hidden; /* Hide overflow */
    position: sticky; 
  }
  
  
  .sidebar ul {
    list-style: none; 
    padding: 0; 
  }
  
  .sidebar li {
    padding: 10px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    line-height: 1.5rem;
    border-bottom: 1px solid #151a30;    
  }

  .sidebar li:last-child {
    border: none;
    color: red;
  }
  
  
  .sidebar li:hover {
    color:rgba(51, 102, 255, 0.452)
  }

  .sidebar li:last-child:hover {
    color: rgb(151, 0, 0);
  }
  
  .sidebar li.active {
    color: #36f; 
  }
  
  .material-icons {
      font-size: 15px;
  }
  
  .sidebar li .menu-text {
    margin-left: 10px; 
    opacity: 1; 
    transition: opacity 0.3s; 
  }
  
  .sidebar.hidden li .menu-text {
    opacity: 0; 
  }
  
  @media (max-width: 768px){
    .sidebar {
      width: 130px;
    }

    .hidden {
        width: 40px;
      padding: 0px;
    }
  }
  