.mat-form-field.mat-mdc-form-field.full-width.ng-tns-c508571215-1.ng-star-inserted.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-outline.mat-primary.ng-pristine.ng-invalid.mat-form-field-invalid.ng-touched.mat-form-field-hide-placeholder {
    min-width: 100% !important;
}
.mat-form-field.mat-mdc-form-field.full-width.ng-tns-c508571215-2.ng-star-inserted.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-outline.mat-primary.ng-pristine.ng-invalid.mat-form-field-invalid.ng-touched.mat-form-field-hide-placeholder {
    min-width: 100% !important;
}

.mat-mdc-dialog-title::before {
    display: none !important;
}

.dialog-header-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #151a30;
    padding: 0;
  }