<h2>Latest News</h2>
<div class="news-items">
    <!-- Check if the newsList has items -->
    <div *ngIf="newsList.length > 0; else noNews">
        <div *ngFor="let news of newsList" class="news-item" (click)="viewNewsDetails(news)">
            <div class="news-img">
                <img       
                [lazyLoad]="getImageUrl(news.bigImage)" 
                class="news-image"
                [defaultImage]="'/assets/placeholder.jpg'"  
                [errorImage]="'/assets/error.jpg'" [alt]="news.title" />
            </div>
            <div class="news-content">
                <h3>{{ news.title }}</h3>
                <p>{{ news.shortDesc }}</p>  
                <p style="color: #36b;">{{ news.tagNames }}</p>
            </div> 
        </div>
    </div>
    <!-- Template for no news -->
<ng-template #noNews>
    <div *ngIf="!isLoading">
       <p>No news available.</p>
    </div>
  </ng-template>
  
  <!-- Loading indicator -->
  <div *ngIf="isLoading" class="loading-indicator">
      <p>loading more news...</p>
  </div>
</div>


