html {
  -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #161a2f;
    font-family: Open Sans,sans-serif;
}


::-webkit-scrollbar {
    width: 6px;                    
    background-color: #242b44; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #171d28;
  }
  
  .cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
  }
  
  .mat-mdc-dialog-surface {
    background-color: #222b45 !important;
    color: #fff;
    overflow: hidden;
    padding: 20px;
    border-radius: 4px !important;
    width: 500px !important;
  }

  .mat-mdc-dialog-container .mat-mdc-dialog-title {
    color: #fff !important;
  }

  .mat-mdc-text-field-wrapper {
    width: 100%;
    z-index: 0;
    padding: 0 !important;
  }

  .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    border: 1px solid #101426;
    border-radius: .25rem;
    padding: 12px 12px;
    margin-bottom: 10px;
    background-color: #161a2f;
    color: #fff !important;
    width: 100%;
    transition: 0.3s ease-in;
    height: 30px;
    margin: 0;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #fff !important;

  }

  @media (max-width: 600px) {
    .custom-dialog-container {
      width: 90%;
      margin: 0 auto;
    }
  }
