body {
    margin: 0;
    padding: 0;
    background-color: #161a2f;
    font-family: Open Sans,sans-serif;
}


::-webkit-scrollbar {
    width: 8px;                    
    background-color: #242b44; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #171d28;
  }
  