.login-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  color: #fff;
  margin: 125px auto;
  max-width: 1045px;
}

.login-side-content {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

.login-side-content blockquote {
  font-style: italic;
  color: #555;
}

.login-side-content cite {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  margin-bottom: 100px;
}

p{
  margin-bottom: 40px;
}

.btn {
  background-color: #3366ff14;
  border-color: #36f;
  color: #36f;
  padding: .6875rem 1.125rem;
  border-style: solid;
  border-width: .0625rem;
  text-transform: uppercase;
  border-radius: .25rem;
  font-size: .875rem;
  line-height: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3366ff28;
}

.btn.btn-primary {
  margin-right: 10px;
}

.login-form {
    max-width: 400px;
    padding: 0 30px;
    background-color: #222b45;
    border: .0625rem solid #101426;
    box-shadow: 0 .5rem 1rem #1a1f33;
    border-radius: .25rem;
    color:#fff;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    width: 35%;
  }
  
  h2 {
    text-align: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #151a30;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input.form-control {
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    border: 1px solid #101426;
    border-radius: .25rem;
    padding: 12px 12px;
    margin-bottom: 10px;
    background-color: #161a2f;
    color: #fff;
    width: 93%;
    transition: 0.3s ease-in;
  }

  input.form-control:focus {
    outline: none;
    border: 1px solid #007bff;
  }

  input.form-control:hover {
    background-color: #121525;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 5px;

  }

  .password-group {
    position: relative;
  }

  .username-group {
    position: relative;
  }
  
  .username-icon-btn {
    position: absolute;
    right: 10px;
    top: -15%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: #999;
    font-size: 1rem;
    width: 40px;
  }
  
  .toggle-password {
      position: absolute;
      right: 10px;
      top: -15%;
      transform: translateY(-50%);
      border: none;
      background: transparent;
      cursor: pointer;
      color: #999;
      font-size: 1rem;
      width: 40px;
  }
  
  
  .toggle-password i {
    pointer-events: none;
  }
  
  .toggle-password:focus {
    outline: none;
  }
  

/* From Uiverse.io by lenin55 */ 
.cl-checkbox {
  position: relative;
  display: inline-block;
 }
 
 /* Input */
 .cl-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
 }
 
 /* Span */
 .cl-checkbox > span {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
 }
 
 /* Box */
 .cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: #161a2f;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
 }
 
 /* Checkmark */
 .cl-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
 }
 
 /* Checked, Indeterminate */
 .cl-checkbox > input:checked,
 .cl-checkbox > input:indeterminate {
  background-color: #598bff;
 }
 
 .cl-checkbox > input:checked + span::before,
 .cl-checkbox > input:indeterminate + span::before {
  border-color: #598bff;
  background-color: #598bff;
 }
 
 .cl-checkbox > input:checked + span::after,
 .cl-checkbox > input:indeterminate + span::after {
  border-color: #fff;
 }
 
 .cl-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
 }
 
 /* Hover, Focus */
 .cl-checkbox:hover > input {
  opacity: 0.04;
 }
 
 .cl-checkbox > input:focus {
  opacity: 0.12;
 }
 
 .cl-checkbox:hover > input:focus {
  opacity: 0.16;
 }
 
 /* Active */
 .cl-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
 }
 
 .cl-checkbox > input:active + span::before {
  border-color: #85b8b7;
 }
 
 .cl-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
 }
 
 /* Disabled */
 .cl-checkbox > input:disabled {
  opacity: 0;
 }
 
 .cl-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
 }
 
 .cl-checkbox > input:disabled + span::before {
  border-color: currentColor;
 }
 
 .cl-checkbox > input:checked:disabled + span::before,
 .cl-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
 }
 

  a.forgot-password {
    color: #598bff;
  }
  
  button:disabled {
    background-color: #8f9bb329;
    border-color: #8f9bb33d;
    color: #8f9bb37a;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled:hover {
    background-color: #8f9bb329;
    border-color: #8f9bb33d;
    color: #8f9bb37a;
    cursor: not-allowed;
  }
  
  hr {
    background-color: #161a2f;
    border: none;
    height: 1px;
    margin-top: 20px;
  }

  .social-btn.google {
    background-color: #db45371f;
    color: #DB4437;
    border-color: #DB4437;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .social-btn.facebook {
    background-color: #4267b21f;
    color: #3272f3;
    border-color: #3272f3;
    padding: .6875rem 1.125rem;
    border-style: solid;
    border-width: .0625rem;
    text-transform: uppercase;
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }


  .fa-fw {
    text-align: center;
    width: 1.25em;
    margin-right: 5px;
  }
  
  
  .social-btn:hover {
    opacity: 0.9;
  }

  .signup-link {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 5px;
  }

  a {
    color: #598bff;
  }

  .card {
    width:330px;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 40%;
    left: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }

  .wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: #04e4003a;
  }
  .icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
  }
  .icon {
    width: 17px;
    height: 17px;
    color: #269b24;
  }
  .message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
  }
  .message-text,
  .sub-text {
    margin: 0;
    cursor: default;
  }
  .message-text {
    color: #269b24;
    font-size: 17px;
    font-weight: 700;
  }
  .sub-text {
    font-size: 14px;
    color: #555;
  }
  .cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
  }
  
  

  @media (max-width: 768px) {
    .login-page {
      flex-direction: column;
      padding: 0px;
      gap: 0;
      margin: 0;
    }

    .login-form {
      margin: 40px 0;
      width: 100%;
      max-width: 300px;
    }
  
    .login-container {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .login-side-content{
      max-width: 100%;
    }

    .card {
      left: 10%;
      top:40%
    }
  }